<section class="invoice">
  <h1><%=@invoice.id%></h1>
  <p><%=@invoice.status%></p>
  <p><%=@invoice.created_at.strftime('%A, %B, %d, %Y')%></p>
  <p><%=@invoice.customer.first_name%> <%=@invoice.customer.last_name%></p>
  <p>Total Revenue: $<%= @invoice.total_revenue %></p>

  <% unless @invoice.bulk_discounts.empty? %>
    <p>Total Discounted Revenue: $<%= @invoice.total_discounted_merchant_revenue(@merchant) %></p>
  <% end %>

</section>

<section class="invoice-items">
  <% @invoice.merchant_invoice_items(@merchant).each do |item| %>
  <div id="item-<%= item.id %>">
    <h3>
      <%= item.name %>
        <% if item.current_invoice_item(item, @invoice).best_discount != nil %>
          <%= link_to 'Discount', merchant_bulk_discount_path(@merchant, (item.current_invoice_item(item, @invoice).best_discount)) %>
        <% end %>
    </h3>

    <p>Quantity: <%= item.current_invoice_item(item, @invoice).quantity %></p>
    <p>Unit Price: <%= item.current_invoice_item(item, @invoice).unit_price %></p>
    <p>Shipping Status: <%= item.current_invoice_item(item, @invoice).status %></p>

    <%= form_with url:  merchant_item_path(item.merchant, item, invoice_id: @invoice.id), method: :patch, data: {turbo: false} do |f| %>
        Status: <%= f.select "status", options_for_select([["Disabled", 0], ["Enabled", 1]]), value: item.status%>
        <%= f.button "Update Item Status"  %>
    <% end %>

  <% end %>
</section>

